h1, p {
  font-family: Lato;
}
.calculatorComponent {
  width: 300px;
  height: 350px;
  border: 2px solid gray;
  padding: 4px;
  margin: 4px;
}
.resultInput {
  width: 90%;
  padding: 4px;
}
.operationArea {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}